IO_LOC "led_product_C" G16;
IO_PORT "led_product_C" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led_product_B" D18;
IO_PORT "led_product_B" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led_product_A" D17;
IO_PORT "led_product_A" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "shcp" H4;
IO_PORT "shcp" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "stcp" F3;
IO_PORT "stcp" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ds" F4;
IO_PORT "ds" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "buzzer" A16;
IO_PORT "buzzer" PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "btn_C_n" C18;
IO_PORT "btn_C_n" PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "btn_B_n" C17;
IO_PORT "btn_B_n" PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "btn_A_n" F14;
IO_PORT "btn_A_n" PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "coin_50k_n" C15;
IO_PORT "coin_50k_n" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "coin_20k_n" A15;
IO_PORT "coin_20k_n" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "coin_10k_n" B16;
IO_PORT "coin_10k_n" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "reset_n" G18;
IO_PORT "reset_n" PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "clk" T9;
IO_PORT "clk" PULL_MODE=NONE BANK_VCCIO=3.3;
